:root {
  --size-gap: 30px;
  --size-svg: 10px;
  --main-text-color: #212121;
  --active-color: #2196f3;
  --grey-color: #757575;
  --main-font: Roboto, sans-serif;
  --accent-font: Raleway, sans-serif;
  --black-color: #000000;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --active-button-color: #188ce8;
  --color-svg: #afb1b8;
  --bg-svg: #f5f4fa;
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
} */

/* .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .section {
  padding: 94px 0;
} */

/* .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
} */

/* .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* header */
/* .header {
  outline: 1px solid #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
}
*/
/* .header__nav .logo {
} */

/* .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  font-family: var(--accent-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
  color: var(--black-color);
}

.logo__text {
  color: var(--active-color);
}

.logo--mb-color {
  margin-bottom: 20px;
  color: var(--white-color);
} */

/* .menu {
  display: flex;
}

.menu--ml {
  margin-left: 93px;
}

.menu__item--ml {
  margin-left: 50px;
}
.menu__item--position {
  position: relative;
}
.menu__link {
  display: block;
  padding: 32px 0;
  color: inherit;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color var(--animation);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--active-color);
}

.menu__link--color {
  color: var(--active-color);
}

.menu__link--position::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  border: 2px solid var(--active-color);
  border-radius: 2px;
} */

/* .contacts {
  display: flex;
}

.contacts--ml {
  margin-left: auto;
}

.contacts__item--ml {
  margin-left: 30px;
}

.contacts__link {
  display: inline-flex;
  padding: 32px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 1.143;
  color: var(--grey-color);
  transition: color var(--animation);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--animation);
}

.contacts__icon:hover,
.contacts__icon:focus {
  fill: currentColor;
} */
/* END header */

/*  main page styles  */
/* section HERO */
/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* hero-button */
.hero__button {
  /* margin-top: var(--size-gap);
  padding: 10px 32px; */
  /* background-color: var(--active-color);
  border-radius: 4px;
  transition: background-color var(--animation); */
}

/* .hero__button:hover,
.hero__button:focus {
  background-color: var(--active-button-color);
} */
/* footer btn */
.footer__form-btn {
  /* margin-left: 12px;
  padding: 10px 28px 10px 29px;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom; */
  /* background-color: var(--active-color);
  border-radius: 4px; */
}

.modal__form-btn {
  /* margin: 0 auto;
  width: 200px;
  height: 50px; */
  /* background-color: var(--active-color);
  border-radius: 4px;
  transition: background-color var(--animation); */
}

/* .modal__form-btn:hover,
.modal__form-btn:focus {
  background-color: var(--active-button-color);
} */

/* section feature */
/* .feature {
  padding: 94px 0;
}
.feature__list {
  display: flex;
}

.feature__list .feature__item + .feature__item {
  margin-left: var(--size-gap);
}

.feature__item {
  width: 270px;
}

.feature__svg {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background: var(--bg-svg);
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}

.feature__paragraph {
  line-height: 1.714;
  color: var(--grey-color);
} */

/* section activity */

.activity {
  padding-top: 0;
  padding-bottom: 94px;
}

.activity__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.activity__list {
  display: flex;
}

.activity__list .activity__item + .activity__item {
  margin-left: var(--size-gap);
}

.activity__item {
  position: relative;
}

.activity__title-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
}

/* section teams */

/* .teams {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.teams__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-gap));
}

.teams__list > .teams__item {
  flex-basis: calc(100% / 4 - var(--size-gap));
  margin-left: var(--size-gap);
}

.teams__item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.teams__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.teams__content-block {
  padding-top: var(--size-gap);
  padding-bottom: var(--size-gap);
}

.teams__item h3,
.teams__item p {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

.teams__item-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.teams__item-text {
  color: var(--grey-color);
  margin-bottom: 16px;
}
.team__social-icons {
  margin-left: var(--size-svg);
} */

/* BLOCK social icons */
/* .social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--color-svg);
  transition: background-color var(--animation), color var(--animation);
}

.social-icons__link:hover,
.social-icons__link:focus {
  color: var(--white-color);
  background-color: var(--active-color);
}

.social-icons__svg {
  fill: currentColor;
  transition: fill var(--animation);
}

.social-icons__svg:hover {
  fill: currentColor;
}

.social-icons--mt {
  margin-top: 20px;
}

.social-icons__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.social-icons__item--ml {
  margin-left: var(--size-svg);
} */

/* clients section */
/* .clients {
  padding: 94px 0;
}
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-gap));
}

.clients__list > .clients__item {
  flex-basis: calc(100% / 6 - var(--size-gap));
  margin-left: var(--size-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-svg);
  border-radius: 4px;
  color: var(--color-svg);
  transition: border var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--active-color);
  border: 1px solid var(--active-color);
}

.clients__icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.clients__icon:hover,
.clients__icon:focus {
  fill: currentColor;
} */

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
  color: var(--white-color);
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.address {
  font-style: normal;
  line-height: 1.714;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__item--mt {
  margin-top: 9px;
}

.footer__join-block {
  width: 206px;
  margin-left: 70px;
}

.footer__subscribe-block {
  margin-left: 93px;
  width: 581px;
}

.footer__title {
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__form {
  display: flex;
  margin-top: 20px;
}

.footer__form-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: bottom;
  width: 358px;
  height: 50px;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}

.footer__form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* .footer__form-btn {
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  background-color: var(--active-color);
  border-radius: 4px;
} */

/* .footer__form-svg {
  margin-left: 10px;
} */

/* modal */
/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  transition: transform var(--animation);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color var(--animation), color var(--animation);
}

.button-close:hover,
.button-close:focus {
  border-color: rgba(0, 0, 0, 0.1);
  color: var(--active-color);
}

.button-close-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.modal__form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal__form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.modal__form-label.modal__form-label--mb {
  margin-bottom: 20px;
}

.modal__form-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.modal__form-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal__form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-border-color);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--animation);
}

.modal__form-input:focus {
  border: 1px solid var(--active-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  transition: fill var(--animation);
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--active-color);
}

.modal__form-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--modal-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;
  cursor: pointer;
  transition: border-color var(--animation);
}

.modal__form-textarea:focus {
  border-color: var(--active-color);
}

.modal__form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__form-checklabel {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  cursor: pointer;
}

.modal__form-checkicon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 4px;
  vertical-align: middle;
  fill: var(--white-color);
  transition: border-color var(--animation);
}

.modal__form-checkinput:checked + * .modal__form-checkicon {
  background-color: var(--active-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--active-color);
}

.modal__form-checkinput:focus,
.modal__form-checkinput:hover {
  background-color: var(--active-color);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--active-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal__form-link {
  color: var(--active-color);
  text-decoration: underline;
} */

/* .modal__form-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--active-color);
  border-radius: 4px;
  transition: background-color var(--animation);
}

.modal__form-btn:hover,
.modal__form-btn:focus {
  background-color: var(--active-button-color);
} */

/* End modal */

/*  portfolio page */
/* portfolio-section */
.portfolio {
  padding: 94px 0;
}

/* list buttons */
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list__item--mr {
  margin-right: 8px;
}

.btn-list__button {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: background-color var(--animation), box-shadow var(--animation),
    color var(--animation);
}

.btn-list__button:hover,
.btn-list__button:focus {
  color: var(--white-color);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* list cards */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--size-gap));
  margin-bottom: calc(-1 * var(--size-gap));
}

.cards-list > .cards-list__item {
  flex-basis: calc(100% / 3 - var(--size-gap));
  margin-left: var(--size-gap);
  margin-bottom: var(--size-gap);
  outline: 1px solid #eeeeee;
}

.cards-list__link {
  display: block;
  transition: box-shadow var(--animation), transform var(--animation);
}

.cards-list__link:hover,
.cards-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.cards-list__link:hover .cards-list__pop-up-text,
.cards-list__link:focus .cards-list__pop-up-text {
  transform: translateY(0);
}

.cards-list__img-block .cards-list__img {
  width: 100%;
}

.cards-list__content-block {
  padding: 20px 24px;
}
.cards-list__img-block--overlay {
  position: relative;
  overflow: hidden;
}
.cards-list__pop-up-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.555;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}

/* Paragraphs */
.cards-list__title {
  margin-bottom: 4px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list__paragraph {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-color);
}
